.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    min-height: 100vh;
    
    &__top{
        text-align: center;
        margin-bottom: 50px;
        h2{
            font-size: 28px;
            margin-bottom: 0;
        }
        p{
            opacity: 0.5;
            font-size: 18px;
            letter-spacing: 0.1px;
        }
    }
    &__link{
        display: block;
        text-align: center;
        color: #ADADAD;
    }

    .block{
        // max-width: 430px;
        width: 430px;
    }
    &__succes{
        width: 430px;
        text-align: center;
        margin-top: 70px;
        h3{
            margin-top: 10px;
        }
        p{
            opacity: 0.5;
            font-size: 16px;
            letter-spacing: 0.1px;
        }
    }
}
.input-large{
    height: 40px !important;
}